<?xml version="1.0"?>
<config>
    <modules>
        <Wwjw_Links>
            <version>0.1.0</version>
        </Wwjw_Links>
    </modules>
    <frontend>
        <routers>
            <links>
                <use>standard</use>
                <args>
                    <module>Wwjw_Links</module>
                    <frontName>wwjw_links</frontName>
                </args>
            </links>
        </routers>
        <layout>
            <updates>
                <links>
                    <file>links.xml</file>
                </links>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<links>
				<use>admin</use>
				<args>
					<module>Wwjw_Links</module>
					<frontName>links</frontName>
				</args>
			</links>
        </routers>
    </admin>
    <global>
        <blocks>
            <links>
                <class>Wwjw_Links_Block</class>
            </links>
        </blocks>
        <helpers>
            <links>
                <class>Wwjw_Links_Helper</class>
            </links>
        </helpers>
    </global>
</config>